header,main{
    padding-left: 300px;
}
.container {
    width: 85%;
}
@media only screen and (max-width: 992px){
header, main {
    padding-left: 0;
}
}
.caption-in-stock{
    color: rgb(0, 195, 0);
}
.card-content .caption-in-stock{
    color: rgb(0, 195, 0);
}

img {
    border: 0;
    padding: 5px;
}

.parallax h1{
    position: relative;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: #101010;
    opacity: 0.8;
}
